*{
    font-family: 'Franklin Gothic Medium',sans-serif;
    
}
body{
    background-color: #000;
}

.flex_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #444;
    margin: 50px 30px;
    padding: 20px;

}


.form{
    min-width: 300px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 2;
}
.form_input{
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom:  3px solid rgb(219, 200, 30);
    background: transparent;
    color: #fff;
}
.form_input:focus{
    background: linear-gradient(to bottom, transparent,#333);
    outline: none;
    border-bottom: 4px solid #5ad;
}

.form textarea{
    min-height: 140px;
    resize: none;
}

.form_img div{
    padding: 10px;
   
}

.form-img{
    flex: 1;
    padding: 10px;
    display: flex;
    min-width: 200px;
    max-width: 300px;
    order: 1;
}
.img_container{
    padding: 20px;
    margin: auto;
   
    
}
.img_container div{
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    padding: 40px;
}
.form_img img{
    width:200px;
    margin: auto;

    
    

}

.form input[type="submit"]{
    background-color: #5ad;
    border-bottom:none ;
    padding: 10px;
    text-align: center;
    margin: auto;
    width: 100%;
}
.form input[type="submit"]:hover{
    background-color: rgb(58, 121, 160);
    border-bottom:none ;
    padding: 10px;
    text-align: center;
    margin: auto;
    
}